<p><%= @player1 %> vs. <%= @player2 %>!!!</p>
<p> Player 1 HP: <%= $player1.hp %> </p>
<p> Player 2 HP: <%= $player2.hp %> </p>


<form action="/attack" method="post">
      <input type="submit" value="attack">
</form>

